@import '../../../styles/colors.scss';
@import '../../../styles/icons.scss';
@import '../../../styles/helpers.scss';

.filter {

  span {
    color: $blue;
    font-size: 14px;
    font-weight: bold;
  }

  h4 {
    font-size: 18px;
  }

  input[type=text] {
    border: 1px solid lightgray;
    flex: 75%;
    height: 35px;
    border-radius: 2px;
    padding-left: 10px;
  }

  button {
    flex: 25%;
    margin-left: 15px;
    color: white;
    background-color: $alter-blue;
    font-size: 14px;
    text-transform: capitalize;
    box-shadow: none;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;

      span {
        color: black;
        font-size: 12px;
      }
    }
  }
}

.justified {
  margin: 0 20px 20px;
}

:host /deep/ {

  .mat-card {
    z-index: -1;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
  }

  .mat-expansion-panel,
  .mat-card {
    border-radius: 1px;
  }

  .mat-expansion-panel-body {
    padding: 0px;
  }

  .mat-expansion-indicator {
    margin-top: 2px;

    &::after {
      border-bottom: none;
      padding: 0;
      transform: none;
      border-top: solid 7px $blue;
      border-left: solid 7px transparent;
      border-right: solid 7px transparent;
    }
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: static;
    opacity: 1;
    margin: 3px 5px 0px 2px;
    pointer-events: fill;
  }

}
