<div class="filter">
  <mat-expansion-panel [expanded]="true" class="parent-expansion-panel">
    <mat-expansion-panel-header>
      <h4>Filtros</h4>
    </mat-expansion-panel-header>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <i class="search-icon"></i>
        <span class="">Nombre de hotel</span>
      </mat-expansion-panel-header>
      <div class="flex justified">
        <input [(ngModel)]="name" type="text" placeholder="Ingrese el nombre del hotel">
        <button type="button" class="btn" (click)="filter()">Aceptar</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <i class="star-blue-icon"></i>
        <span class="">Estrellas</span>
      </mat-expansion-panel-header>
      <ul class="justified">
        <li class="flex">
          <input type="checkbox" class="" [(ngModel)]="check" >
          <span class="small">Todas las estrellas</span>
        </li>
        <li *ngFor="let star of STARS; let i = index">
          <input type="checkbox" [value]="i+1" class="stars-checkbox" [checked]="check">
          <i class='star-icon' *ngFor="let n of getStars(star)"></i>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-expansion-panel>
</div>
