<div class="result-column" *ngIf="hotels?.length">
  <div *ngFor='let hotel of hotels' class="row well">
    <div class="col-sm-4">
      <img src="assets/images/hotels/{{ hotel?.image }}" />
    </div>
    <div class="col-sm-5">
      <p class="title">{{ hotel?.name }}</p>
      <i class='star-icon' *ngFor="let n of getStars(hotel?.stars)"></i>
      <ul>
        <li *ngFor="let name of hotel?.amenities " class='amenities-icon'>
          <img src="assets/icons/amenities/{{ name }}.svg" />
        </li>
      </ul>
    </div>
    <div class="col-sm-3" align="center">
      <p>Precio por noche por habitación</p>
      <div class="flex">
        <h3>ARS</h3>
        <span class="price">{{ hotel?.price }}</span>
      </div>
      <button type="button" class="btn btn-default btn-sm" (click)="click()">Ver hotel</button>
    </div>
  </div>
</div>
