@import '../../../styles/colors.scss';
@import '../../../styles/icons.scss';
@import '../../../styles/helpers.scss';

@mixin dotted-top {
  background-image: linear-gradient(to right, $dot-gray 60%, rgba(255, 255, 255, 0) 00%);
  background-position: top;
  background-size: 6px 1px;
  background-repeat: repeat-x;
}

@mixin dotted-left {
  background-image: linear-gradient(to bottom, $dot-gray 60%, rgba(255, 255, 255, 0) 20%);
  background-position: left;
  background-size: 1px 6px;
  background-repeat: repeat-y;
}

.result-column {
  @media only screen and (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .well {
    background-color: white;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 8px;
    height: auto;
    box-sizing: border-box;

    .title {
      font-size: 16px;
    }

    div {
      padding-left: 0;
      padding-right: 20px;

      @media only screen and (max-width: 768px) {
        padding-right: 0px;
        padding-bottom: 10px;
      }

      &:first-child {
        img {
          width: 100%;
          max-height: 180px;
          height: 100%;
          overflow: hidden;
          object-fit: cover;
        }
      }

      &:last-child {
        @media only screen and (max-width: 768px) {
          padding-left: 0px;
          border-left: 0px;
          @include dotted-top;
        }

        @include dotted-left;
        font-size: 13px;
        padding-top:20px;
        padding-bottom:50px;
        max-height: 180px;
        padding-left: 28px;

        h3 {
          font-size: 24px;
          margin-top: 10px;
          font-weight: 400;
          color: $orange;
        }

        .price {
          font-size: 32px;
          font-weight: bold;
          color: $orange;
        }

        button {
          width: 100%;
          color: white;
          background-color: $alter-blue;
          font-size: 18px;
          border-radius: 4px;
        }
      }
    }

    .star-icon {
      width: 18px;
      height: 18px;
      padding: 0;
    }
  }
}
