@import 'colors.scss';

@mixin star-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 2px 5px 0 0;
  background-color: #fdba12;
  mask: url(/assets/icons/filters/star.svg) no-repeat 50% 50%; //mask: url(icon.svg) no-repeat 50% 50%;
  -webkit-mask: url(/assets/icons/filters/star.svg) no-repeat 50% 50%; //mask: url(icon.svg) no-repeat 50% 50%;
}

.star-icon {
  @include star-icon;
}

.star-blue-icon {
  @include star-icon;
  width: 15px;
  height: 15px;
  background-color: $blue;
}

.search-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px 5px 0 0;
  background-color: $blue;
  mask: url(/assets/icons/filters/search.svg) no-repeat 50% 50%; //mask: url(icon.svg) no-repeat 50% 50%;
  -webkit-mask: url(/assets/icons/filters/search.svg) no-repeat 50% 50%; //mask: url(icon.svg) no-repeat 50% 50%;
}

.amenities-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
