.content {
  margin: 24px 24px 0 9px;

  .col-sm-3 {
      margin-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 0;

    .col-sm-3 {
      padding: 0;
    }
  }
}
