<app-header></app-header>
<div class="row content">
    <div class="col-sm-3">
      <app-filter 
        (filteredHotels)="filteredHotels($event)"
      ></app-filter>
    </div>
    <div class="col-sm-9">
      <app-card [hotels]=hotels></app-card>
    </div>
</div>
<router-outlet></router-outlet>